<div layout-gt-s="row">
    <h1>Home</h1>
    <p class="text-primary">
        This Application was developed to explore the capabilities of AngularJS and put such capabilities to use in this user management application.
        <br /><br />
     <pre>UserName : {{SignedInUser.username}}</pre>
     <pre>User's Name : {{SignedInUser.forename}} {{signedInUser.surname}}</pre>
     <pre>User's DOB : {{SignedInUser.dob | Date:"dd MMMM yyyy"}}</pre>
     <pre>User's Phone No. : {{SignedInUser.mobile}}</pre>
     <pre>User's Email : {{SignedInUser.email}}</pre>
    </p>
</div>
