<div layout-gt-s="row">
    <h1>Home</h1>
    <p class="text-primary">
        This Application was developed to explore the capabilities of AngularJS and put such capabilities to use in this user management application.
        <br /><br />
     UserName : {{SignedInUser.username}}<Br />
     User's Name : {{SignedInUser.forename}} {{signedInUser.surname}}<br />
     User's DOB : {{SignedInUser.dob | Date:"dd MMMM yyyy"}}<br />
     User's Phone No. : {{SignedInUser.mobile}}<br />
     User's Email : {{SignedInUser.email}}<br />
    </p>
</div>
