html
{
    background: #DCDCDC;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 70% !important;
    margin: auto !important;
    display:block;
}

.ContentMain {
    overflow: hidden visible;
}

.md-padding
{
    overflow: hidden visible;
    width: 100% !important;
}

.inputDate
{
    display: inline-block;
    width: auto;
    padding: 2px;
    margin: 18px 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.customBTN 
{
    padding: 10px; 
    border-radius: 2px;
    border: none;
    background: #1C67C6;
    color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.errorText
{
    position: relative;
    -webkit-flex-order: 4;
    -ms-flex-order: 4;
    order: 4;
    overflow: hidden;
    clear: left;
    color: #DD2C00;
    box-sizing: border-box;
    font-size: 12px;
}

md-input-container
{
    width: 35%;
}

.LoginTextBoxes
{
    margin-left: 10% !important;
}